/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: hsl(0, 0%, 0%);
    text-align: center;
}
.principal{
   display: flex;

     
}
body{                                                                                                                                                                                 
    
    background-image: url(RRR.webp)
    
}
.titulo{
font-size: 60px;
color: hsl(0, 0%, 0%);
text-align: center;
font-family: 'Times New Roman', Times, serif;


}

.img{

height: 478px;
width: 710px;
background-image: url(circuito.jpeg);
float: left;




}

.img2{

    height: 500px;
    width: 1150px;
    background-image: url(Captura.PNG);
    background-repeat: no-repeat
    


}
.img3{

    height: 500px;
    width: 1150px;
    background-image: url(descarga.jpeg);

    background-repeat: no-repeat





}

.img4{


    height: 500px;
    width: 1150px;
    background-image: url(descarga\ \(1\).jpeg);

    background-repeat: no-repeat


}
.img5{


height: 478px;
width: 710px;
background-image: url(R.jpg);
float: left;


}
.img6{

    
    Height: 800px;
    width: 820px;
    background-image: url(Profile-Male-Transparent.png);
    float: left;

}
.IMG{


    Height: 340PX;
    width: 420px;
    background-image: url(J.jpg);
    float: center;
display: flex;
flex-direction: center;
}
.ImG{


    Height: 300pX;
    width: 800px;
    background-image: url(escuchar-otros.jpg);
    float: center;
    display: flex;
flex-direction: center;


}
.Img9{

height: 600px;
width: 1050px;
background-image: url(Grafico\ Mapa\ Conceptual\ Esquema\ Original\ Multicolor.png);
    display: flex;
    flex-direction: center;
float: center;

}
.ImG00{
    Height: 395pX;
    width: 545px;
    background-image: url(ñ.jpeg);
    float: center;
    display: flex;
flex-direction: center; 
}
.ImG000{

    Height: 600px;
    width: 900px;
    background-image: url(violencia-2.webp);
    float: center;
    display: flex;
flex-direction: center; 

}
.ImG07{
    Height: 400px;
    width: 747px;
    background-image: url(ns.jpg);
    float: center;
    display: flex;
flex-direction: center;   
}
.ImG077{

    Height: 660px;
    width: 1300px;
    background-image: url(lp.jpeg);
    float: left;
    display: flex;
flex-direction: column;   


}
.ImG1{

    height: 500px;
width: 700px;
background-image: url(WhatsApp\ Image\ 2024-11-26\ at\ 10.51.21\ PM\ -\ Acceso\ directo.lnk);
float: center
display: flex;
flex-direction: column;



}

.IP{


height: 10S00px;
width: 1500px;
background-image: url(FKK\ -\ Acceso\ directo.lnk);
float: center;
display: flex;
flex-direction: column;

}