.contenedor{

width: 100%;
height: 1550px;
background-color: blueviolet;
display: flex;
flex-direction: column;
text-align: center;
font-family: fantasy;

}



.encabezado{

width: 100%;
height: 250px;
background-color: blue;
font-size: 55PX;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif<;
}

.sociales{
    width: 100%;
    height: 600x;
    background-color: chartreuse;
font-size: 30px;
text-align: center;
font-family: fantasy;
}
.Ingles{

width: 100%;
height: 600px;
background-color: darkturquoise;
font-size: 100%;
text-align: center;
font-family: fantasy;

}

.Tecnologia{

width: 100%;
height: 535px;
background-color: blueviolet;
text-align: center;

}
